<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seemygo.server.goods.mapper.CatalogPropertyMapper" >
  <resultMap id="BaseResultMap" type="com.seemygo.shop.api.goods.domain.CatalogProperty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catalog_id" property="catalogId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from catalog_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
    insert into catalog_property (catalog_id, name, 
      sequence, type)
    values (#{catalogId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{type,jdbcType=TINYINT})
  </insert>
  <update id="updateByPrimaryKey">
    update catalog_property
    set catalog_id = #{catalogId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, catalog_id, name, sequence,type
    from catalog_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, catalog_id, name, sequence, type
    from catalog_property
  </select>
  <select id="getCatalogProperty" resultMap="BaseResultMap">
  	select id, catalog_id, name, sequence,type
    from catalog_property where catalog_id = #{catalogId}
  </select>
</mapper>






