<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.seemygo.server.goods.mapper.CatalogPropertyValueMapper" >
  <resultMap id="BaseResultMap" type="com.seemygo.shop.api.goods.domain.CatalogPropertyValue" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="sequence" property="sequence" jdbcType="INTEGER" />
 	<association property="catalogProperty" column="catalog_property_id" javaType="com.seemygo.shop.api.goods.domain.CatalogProperty"
 	select="com.xmg.server.mapper.CatalogPropertyMapper.selectByPrimaryKey"/>
 		
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from catalog_property_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPropertyId" parameterType="java.lang.Long" >
    delete from catalog_property_value
    where catalog_property_id = #{propertyId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert"  useGeneratedKeys="true" keyProperty="id" >
    insert into catalog_property_value (catalog_property_id, value,sequence)
    values (#{catalogProperty.id,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR},#{sequence,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey"  >
    update catalog_property_value
    set catalog_property_id = #{catalogProperty.id,jdbcType=BIGINT},
      value = #{value,jdbcType=VARCHAR},
      sequence = #{sequence,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, catalog_property_id, value, 
    sequence
    from catalog_property_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id,catalog_property_id, value, 
    sequence
    from catalog_property_value
  </select>
  <select id="getCatalogPropertyValue" resultMap="BaseResultMap" >
    select id, catalog_property_id, value, 
    sequence
    from catalog_property_value where catalog_property_id = #{catalogPropertyId}
  </select>
  
</mapper>









